<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}" type="text/css" />

<footer>
    <div class="footer">
        <h2>Contact</h2>
        <a href="mailto:communication@protectioncivile69.org" class="mail" target="_blank">communication@protectioncivile69.org</a>
        <div class="social">
            <a href="https://www.facebook.com/protectioncivile69" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/protectioncivile69/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/ProtecCivile69" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.tiktok.com/@protectioncivile69?lang=fr‌" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://chat.whatsapp.com/JnkZU72aWnM0FrVXglQayE" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://linktr.ee/Protec69" target="_blank"><i class="fa-solid fa-globe"></i></a>
        </div>
    </div>
</footer>