<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}" type="text/css" />

<footer>
    <div class="footer">
        <h2>Contact</h2>
        <a href="mailto:communication@protectioncivile69.org" class="mail">communication@protectioncivile69.org</a>
        <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
            <a href=""><i class="fa-solid fa-globe"></i></a>
        </div>
    </div>
</footer>