
main{
    position: relative;
    width: 100%;
    height: 100vh; /* Prend toute la hauteur de l'écran */

}

main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/groupe_protec.webp);
    background-size: cover;
    background-position: center;
    position: fixed;
    filter: blur(5px);
    z-index: -1;
}

.container-article{
    background-color: #ffffffc1;     
    padding: 32px 24px 32px 24px;
    border-radius: 30px;
}


/*Carousel*/

.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;

}

.carousel-indicators li {
    text-indent: -9999px;
    overflow: hidden; 
    display: inline-block;
}

/*Content*/

.content {
    text-align: justify;
    max-width: 80%;
    margin: 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/*Video*/
.container-video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Author*/

.author-date{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.author-date p{
    font-size: smaller;
}

@media (min-width: 768px) {
    .carousel-container {
        height: 500px;
        overflow: hidden; /* Limite la hauteur totale du carrousel */
    }

    .carousel-inner {
        height: 500px;
    }

    .carousel-item img {
        object-fit: contain;
        height: 100%;
        height: 500px; /* Limite la hauteur de l'image à 500px */
        width: 100%;
    }
}
@media (max-width: 768px) {
    .carousel-container {
        max-height: 300px; /* Limite la hauteur totale du carrousel sur mobile */
        overflow: hidden;
    }

    .carousel-inner {
        max-height: 300px;
    }

    .carousel-item img {
        object-fit:cover;
        height: 100%;
        max-height: 300px;
        width: 100%;
    }
}